.features {
  padding-top: 80px;

  .inner {
  
  }

  .features-cont {
  }

  .features-list {
    padding-top: 60px;

  }


  .features-item {
    color: cl(white);
    display: flex;
    flex-flow: column-reverse;
    + .features-item{
      padding-top: 60px;
      @include overTab{
        padding-top:0;
      }
    }
    &:nth-child(odd) {
      @include overTab{
      flex-flow: row-reverse;
      }
      .image {
        @include overTab{
        margin-right: 40px;
        }
      }
      .text{
        @include overTab{
        margin-right: 40px;
      }
    }
  }
    &:nth-child(even){
      @include overTab{
        flex-flow: row;
      } 
        .image {
          @include overTab{
        margin-left: 40px;
          }
      }
      .text {
        @include overTab{
        margin-left: 40px;
        }
      }
    }

    .text {
      padding-right: 28px;
      padding-left: 28px;
      padding-top: 40px;
      @include overTab{
      flex:1;
      padding-left: 0;
      padding-right: 0;
      }
    }

    .title {
      color: cl(baige);
      font-size: 28px;
      @include overTab{
        font-size: 28px;
      }
    }

     .desc {
        font-size: 18px;
        margin-top: 50px;
        @include overTab{
        font-size: 28px;  
        }
     }

    
    .image {
      flex: 1;

    }

  }

   .cmn-link {
     padding: 50px 0 50px 0;
    a {
      margin: 0 auto;
   } 
  }

}