.plan {

  .cmn-title {
    padding-top:30px;
    padding-bottom: 30px;

  }


  

  .sub {
    padding-top: 20px;
  }


  .rec-slick {
    display: flex;
  }


  .rec-item {
    width: 322px;
    height: 550px;
    background-color: cl(white);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    
    .text {
      padding-top: 300px;
      margin: 0px 20px 0px 20px;
    }
    .title {
      color: cl(text);
    }
    .price{
      padding-top: 60px;
      > span {
        color: cl(red);
      }
    }


    .image {
      position: absolute;
      top: 0;
      left: 0;
    }


  }

  


}

.service {
  .service-wrap {
    padding-top: 30px;
    padding-bottom: 40px;

  }

  .service-list {
    display: flex;
    padding-right: 40px;
    padding-left: 40px;

  }
  
  .service-item {
    background-color: cl(grey);
    display: flex;
    flex-flow: column-reverse;
    width: percentage(390 / 1200);
    + .service-item {
      margin-left: 20px;
    }
    .title {
      font-size: 28px;
      text-align: center;

    }
    .desc {
      padding-top: 40px;
      font-size: 18px;

    }

    .image {
      width: 160px;
      margin: 0 auto;
    }

    
  }

}