.top {
  background-image: url(../image/top-mv_sp.png);
  background-position: center;
  background-size: cover;
  height: 675px;
  position: relative;
  z-index: -1;
  margin-top: 100px;
  @include overTab{
    background-image: url(../image/top-bg.png);
  }
  .top-title {
    color: cl(white);
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 100%;
    @include overTab{
    font-size: 50px;
      }
    }

}
