body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP',Bold;
}

a {
  color: #333333;
  text-decoration: none;
}

p{
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

}

/*共通*/
.cmn-title {
  text-align: center;
  padding-top: 50px;
}
.cmn-title  .main {
      display: block;
      font-size: 32px;
      padding-top: ;

}
.cmn-title .sub {
      display: block;
      color: #3BA6C9;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 10px;
}

/*ヘッダー*/
.header{
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgb(175, 175, 175);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 94px;
  z-index: 3;
}

.header .container{
  max-width: 1000px;
  padding: 24px 20px 23px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  font-size: 24px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.header-logo::before{
  content: "";
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url(../image/logo.png)no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
}

header .nav-item{
  margin-right:46px;
  line-height: 1.5;
  font-size: 16px;
}

.nav-btn{
  display: none;
}


.button{
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 36px 10px 35px;
  background-image: linear-gradient(90deg, #FA41CC, #6020B0);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}

.header-btn:hover {
  opacity: .7;
}

/*トップ*/
.top .container{
  position: relative;
  max-width: 1000px;
  margin-bottom: 30px;
}

.top-backimg{
  position: absolute;
  top: -130px;
  right: -250px;
  width: 708px;
  height: 711px;
  overflow: hidden;
  z-index: 0;
}

.top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  padding-top: 200px;
  padding-left: 100px;
  z-index:2;
}

.top-text{
  margin-right: 20px;
  z-index: 2;
}
.top-title{
  font-size: 32px
}

.sub-title{
  padding-top: 30px;
  margin-bottom: 30px;
}

.top-img-box{
  width: 400px;
  z-index: 2;
  position:absolute;
  top: 200px;
  left: 500px;

}



/*特徴*/

.features{
  padding-top: 50px;
}

.features .container{
  width: 90%;
}
.features-cont{
  padding-top: 60px;
}

.features-list:nth-child(2){
  flex-direction: row-reverse;
}


.features-item-title{
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.features-item-box{
  display: flex;
  margin-bottom: 30px;
  margin-left: 30px;
}


.features-item-text{
  flex: 1;
}

.features-item-text:nth-child(even){
  margin-left: 100px;
}

.desc1{
  font-size:24px;
  margin-bottom: 20px;
}

.desc2{
  margin-top: 25px;
}

.features .image{
  width: 35%;
  margin-right: 40px;

}


/*価格*/
.price .container {
  background-color: #EEFBFB;
}


table {
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right:auto;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
width: 85%;
font-size: 16px;

}


table td {/*table内のtdに対して*/
  padding: 35px 19px;/*上下3pxで左右10px*/
}

table th, table td{
  border: solid 1px #00000029;
}

table td:nth-child(odd){
  width: 274px;
}

.price .desc{
  font-size:16px;
  color: #444444;
  text-align: center;
  padding-bottom: 100px;
}


/*FAQ*/
.faq-list {
  max-width: 900px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.faq-item a{
  display: block;
  border: 1px solid #E5E5E5;
  color: #333333;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.faq-item .detail {
  display: block;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #E5E5E5;
  color: #444444;
  text-align: left;
  padding-top: 17px;
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

/*blog*/

.blog-list{
  padding-top: 50px;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;

}

.blog-item{
  background-color: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 33%;
}

.blog-item +.blog-item{
  margin-left:20px;
}

.blog-item .text{
  font-size: 18px;
  margin-top: 10px;
  padding: 0 10px 0 10px;
}

.blog-item p{
  text-align: right;
  margin-right:5px;
  padding-bottom: 10px;
}

/*Works*/
.works{
  margin-bottom: 60px;
}
.works-slick{
  display: flex;
  margin-top: 50px;
}

.works-item{
  border-radius: 8px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  margin: 0 10px 0 10px;
}

.works-item .title{
  padding: 10px 18px 10px 18px;
}

.works-item .desc{
  padding: 18px 10px 20px 18px;

}

/*お問い合わせ*/

.contact{
  background: linear-gradient(to right, #05A5FA, #67FFD6);
    width: 100%;
  z-index: 1;
  padding-bottom: 40px;
}

.contact h2{
  color: #fff;
}
.contact .sub{
  color: #fff;
}

.contact .container{
  background: linear-gradient(to right, #05A5FA, #67FFD6);

}
.contact .contact-text{
  margin-top: 30px;
  text-align: center;
  color:#FFFFFF;
}

.Form {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 10px 20px 10px 20px;
  background-color: #fff;
}

.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  align-items: center;
  
}

.Form-Item p{
  margin-left: 40px;
}


.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #0C449B;
  color: #fff;
  font-size: 14px;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  font-size: 18px;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 500px;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  font-size: 18px;
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding:8px 10px 9px 10px;
  width: 200px;
  display: block;
  background: linear-gradient(to right, #FA41CC, #6020B0);
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 3px 6px #00000029;

}

.privacy{
  margin: 0 auto;
  text-align: center;
}

/*フッター*/
.footer{
  padding-top:50px;
  padding-bottom:50px;
}

.footer-title{
  text-align: center;
  font-size: 24px;
}

footer .nav-list{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer .nav-item + .nav-item{
  margin-left: 20px;
}

footer .container p{
  font-size:14px;
  text-align: center;

}