body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #FFF;
  color: #444;
}

h1{
  font-size: 1.875rem;
  line-height: 1.5;
}

h2{
  font-size: 1.5rem;
  line-height: 1.5;
}

h3{
  font-size: 1.25rem;
  line-height: 1.5;
}

p{
  font-size: 1rem;
  line-height: 1.5;
}

.spbr{
  display: none;
}

.container {
  width: 100%;
  max-width: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container__s{
  padding: 0 16px;
}


.header{
  width: 100%;
  height: 80px;
}

/*result*/

.result{
  width: 100%;
  background-color: #39bfb9;
  text-align: center;
  margin-top: 108px;
  padding-top: 64px;
  padding-bottom: 32px;

  position: relative;
}

.result__img{
  display: block;
  
  position: absolute;
  top: -55%;
  left: 50%;
  transform: translate(-50%,50%);
}

.result__heading{
  color: #fff;
  font-weight: bold;
}

.result__box{
  background-color: #fff;
  margin-top: 8px;
  padding: 24px 16px;
  border-radius: 0.375rem;
}

.result__box p:last-child{
  color: #111827;
  font-size: 18px;
  font-weight: normal;
  margin-top: 8px;
}


.result__text{
  font-weight: bold;
}

.result__text span{
  font-size: 30px;
  font-weight: bold;
  color: #2da6a0;
}

.result__caption{
  color: #fff;
  font-weight: 400;
  margin-top: 8px;
}

/*content*/
.content{
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 68px;
  
  position: relative;
}

.division {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
  border-bottom: 1px solid #dbd9d2;
}

.division:first-child{
  border-top: 1px solid #dbd9d2;
}

.division__list {
  width: 100%;
  display: flex;
  align-items: center;
  gap:8px;
}

dt,dd{
  line-height: 1.5;
}

.division__term {
  width: 240px;
  font-size: 0.875rem;
  font-weight: 400;
}

.division__term span{
  font-size: 1.125rem;
  font-weight: 700;
}

.division__result{
  display: flex;
  align-items: center;
  gap:8px;
}

.division__description {
  font-size: 0.875rem;
}

.contact__title{
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
}

.contact__text{
  text-align: center;
  margin-top: 8px;
}

.contact__boxes{
  display: flex;
  gap:8px;
  margin:24px 0 0;
}

.contact__box{
  display: flex;
  gap:0.75rem;
  justify-content: center;
  align-items: center;
  max-width: 356px;
  width: 100%;
  border: 2px solid #dbd9d2;
  border-radius: 0.375rem;
  padding: 24px 0;
}

.contact__img img{
  display: block;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.contact__tel{
  font-size: 30px;
  font-weight: 700;
}

.mail__img img{
  height: 24px;
}

.contact__mail{
  font-weight: 700;
}

.content__img{
  display: block;
  
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/*recommend*/

.recommend{
  width: 100%;
  background-color: #f9f7f0;
  padding: 48px 0;
}


.recommend__media {
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  background-color: #fff;
  padding: 24px 16px;
}

.recommend__media__title {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}

.recommend__heading{
  max-width: 470px;
  font-weight: 700;
  text-align: center;
  margin: 48px auto 0;
}

.recommend__box{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  max-width: 470px;
  margin:16px  auto 0;
}

.recommend__list__heading{
  padding-left: 20px;
}

.recommend__lists{
  padding-left: 40px;
}

.recommend__item{
  list-style-type: disc;
  line-height: 1.5;
}

.recommend__btn{
  display: flex;
  align-items: center;
  max-width: 415px;
  width: 100%;
  background-color: #faaf00;
  margin: 48px auto 0;
  border-radius: 8px;
}

.recommend__btn a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  padding: 16px 0;
  transition:all .2s ease;
}

.recommend__btn a:hover{
  box-shadow: 0 0 16px #faaf00;
}

.recommend__btn a::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  right:39px;
  top: 52%;
  transform: translate(-50%,-50%) rotate(45deg);
}

@media (max-width: 768px) {

  .container{
    padding: 0 16px;
  }

  .pcbr{
    display: none;
  }
 
  .spbr{
    display: block;
  }

  /*result*/

  .result__img{
    top: -11em;
  }

  .result__caption{
    text-align: left;
  }

  /*content*/

  .division__list{
    flex-direction: column;
    align-items: flex-start;
  }

  .division__term{
    width: 100%;
  }

  .contact__boxes{
    flex-direction: column;
    align-items: center;
  }

    /*recommend*/
  .recommend__media{
    flex-direction: column-reverse;
    gap:8px;
  }
  .recommend__media__img{
    width: 140px;
    height: 96px;
  }

  .recommend__heading{
    text-align: left;
  }

  .recommend__img img{
    width: 117px;
    height: 107px;
  }

  .recommend__list__heading{
    padding-left: 0;
  }
  
  .recommend__lists{
    padding-left: 15px;
  }

  .recommend__btn a{
    font-size: 18px;
    padding: 12px 0;
  }

  .recommend__btn a::after {
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    right:20px;
  }
}
